/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"); */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-display: swap;
  font-family: 'Roboto';
  src: url('../plugins/roboto-v30-latin-300.woff2') format('woff2');
}

html,
body {
  background: #000;
  overflow-x: hidden;
}